@{
    ViewBag.Title = "About";
}
<div style="background-color:white; opacity:0.95; padding:50px;padding-top:20px; text-align:left; min-height:600px">
    <h3>COMP4952 Project</h3>
    <p>By</p>
    <p>Sean Lee &  Bill Xue</p>
    </div>