@{
    ViewBag.Title = "Contact";
}
<div style="background-color:white; opacity:0.95; padding:50px;padding-top:20px; text-align:left; min-height:600px">
    <h2>Contact Us!</h2>

    <address>
        <strong>Sean Lee:</strong>   <a href="mailto:admin1@hotmail.com">admin1@hotmail.com</a><br />
        <strong>Bill Xue:</strong> <a href="mailto:admin2@hotmail.com">admin2@hotmail.com</a>
    </address>
    </div>