@{
    ViewBag.Title = "Contact";
}
<div style="height:650px; background-color:white; opacity:0.95">
    <img src="~/Images/logo_3.png" style="margin-top:-150px; margin-bottom:-150px;" />
    <div style="padding-left:100px">
        <h2>@ViewBag.Title</h2>
        <address>
            BCIT Burnaby Campus<br />
            3700 Willingdon Avenue, Burnaby British Columbia V5G 3H2<br />
            <abbr title="Phone">P:</abbr>
            604-434-5734
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
</div>