@model IEnumerable<BCIT_Textbook_Sale.Models.Program>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BCIT Textbook Sales</h1>
</div>

<div class="jumbotron">
    @using (Html.BeginForm("BooksForSale", "Home", FormMethod.Post))
    {
        @Html.DropDownList("ProgramID", null, new { @class = "form-control-select" })
        @Html.DropDownList("BuySell", null, new { @class = "form-control-select" })
        @Html.TextBox("search", null ,new { @class = "form-control-searchbar" });
        <input type="submit" value="Search" class="btn btn-outline-primary" />
    }
        <br />
        @Html.Partial("_NewPostPartial")
</div>
