@model IEnumerable<BCIT_Textbook_Sale.Models.Program>
@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron-title" style="height:450px; margin-top: -100px;">
        <img src="~/Images/logo_3.png" style="vertical-align:bottom; margin-bottom:10px;" />
    </div>
    <div class="jumbotron-searchbar">
        @using (Html.BeginForm("BooksForSale", "Home", FormMethod.Post))
        {
            @Html.DropDownList("proID", null, new { @class = "form-control", style = "max-width: 232px; margin-left:10px; margin-right:20px" })
            @Html.DropDownList("buyORsell", null, new { @class = "form-control", style = "max-width: 232px" })
            <br />
            @Html.TextBox("search", null, new { @class = "form-control", style = "max-width:450px; margin-left:-21px" });
            <input type="image" src="~/Images/search.png" alt="Submit" class="search-icon" />
        }
        @Html.Partial("_NewPostPartial")
    </div>
