@model IEnumerable<BCIT_Textbook_Sale.Models.Program>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BCIT Textbook Sales</h1>
</div>
<div class="jumbotron">
    <form>
        <select class="form-control-select">
            <option>Program</option>
            @foreach (var item in Model)
            {
                <option>@Html.DisplayFor(modelItem => item.programID)</option>
            }
        </select>
        <select class="form-control-select">
            <option>Buy/Sell</option>
            <option>Buy</option>
            <option>Sell</option>
        </select>
        <input class="form-control-searchbar" type="text" />
        <input type="button" value="Search" class="btn btn-outline-primary" />
        <br />
        @Html.Partial("_NewPostPartial")
    </form>
</div>
