@model IEnumerable<BCIT_Textbook_Sale.Models.Program>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron-title">
    <h1>BCIT Textbook Sales</h1>
</div>
<div class="jumbotron-searchbar">
    @using (Html.BeginForm("BooksForSale", "Home", FormMethod.Post))
    {
        @Html.DropDownList("proID", null, new { @class = "form-control" , style = "max-width: 210px"})
        @Html.DropDownList("buyORsell", null, new { @class = "form-control", style = "max-width: 210px" })
        <br />
        @Html.TextBox("search", null ,new { @class = "form-control", style = "max-width:450px" });
        <br />
        <input type="submit" value="Search" class="btn btn-outline-primary" style="padding-left:100px; padding-right:100px"/>
    }
        @Html.Partial("_NewPostPartial")
</div>